# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.venv
venv/
ENV/
env/
*.egg-info/
*.egg
dist/
build/
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files
data/*.csv
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Dash/Plotly
*.cache

# VS Code
.vscode/

# Misc
*.bak
*.swp